<template>
  <cv-content id="#main-content">
    <div class="bx--row">
      <div class="bx--col">
        <Status v-bind:status="getCurrentStatus()"></Status>
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col">
        <cv-icon-button
          v-if="false"
          class="stop-button"
          kind="danger"
          v-bind:icon="getStopIcon()"
          tip-position="top"
          tip-alignment="center"
        />
      </div>
    </div>
    <div class="bx--row">
      <div class="bx--col">
        <cv-tile kind="standard">
          <div class="bx--row">
            <div class="bx--col-sm-3">
              <div class="tile-title" style="height: 3rem;">
                <NotificationFilled24 class="events-timeline-icon" /> Histórico
              </div>
            </div>
            <div class="bx--col-sm-1">
              <cv-button kind="ghost" style="padding:0;">
                Limpar
              </cv-button>
            </div>
          </div>
          <div class="notifications" v-for="event in events" :key="event.timestamp">
             <cv-inline-notification
              class="notifications"
              v-if="event.type == getEventTypes().CALL"
              kind="info"
              title="Chamada de auxílio recebida"
              v-bind:sub-title="getEventRelativeTime(event.timestamp)"
            ></cv-inline-notification>
            <cv-inline-notification
              class="notifications"
              v-if="event.type == getEventTypes().CONNECTED"
              kind="success"
              title="Dispositivo Online"
              v-bind:sub-title="getEventRelativeTime(event.timestamp)"
            ></cv-inline-notification>
            <cv-inline-notification
              class="notifications"
              v-if="event.type == getEventTypes().RECONNECTED"
              kind="warning"
              title="Tentativa de restabelecimento de ligação ao dispositivo"
              v-bind:sub-title="getEventRelativeTime(event.timestamp)"
            ></cv-inline-notification>
            <cv-inline-notification
              class="notifications"
              v-if="event.type == getEventTypes().DISCONNECTED"
              kind="error"
              title="Ligação ao dispositivo perdida"
              v-bind:sub-title="getEventRelativeTime(event.timestamp)"
            ></cv-inline-notification>
            <cv-inline-notification
              class="notifications"
              v-if="event.type == getEventTypes().READY"
              kind="info"
              title="Sis+tema pronto para ser conectado"
              v-bind:sub-title="getEventRelativeTime(event.timestamp)"
            ></cv-inline-notification>
          </div>
        </cv-tile>
      </div>
    </div>
  </cv-content>
</template>
<style lang="scss" scoped>
@import "../styles/carbon-utils";

.notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  margin: $spacing-02 auto;
}

.cv-tile-standard {
  max-width: 20rem;
  margin: auto;
}

.tile-title {
  padding: $spacing-02;
  line-height: 1.125rem;
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: space-between;
  min-height: 3rem;
  margin: 0;
  align-items: center;
}

.events-timeline-icon {
  padding-right: $spacing-02;
}

.stop-button {
  justify-content: center;
  width: 100%;
  margin-bottom: $spacing-04;
}
</style>

<script lang="ts">
import { NotificationFilled24, StopFilled24 } from "@carbon/icons-vue";
import { Component, Vue } from "vue-property-decorator";
import io from "socket.io-client";
import Status from "@/components/status/Status.vue";
import { Store, Mutations } from "@/store/bell";
import EventType from "@/entities/eventtype.enum";
import moment from "moment";
import DeviceEvent from "@/store/deviceevent";

@Component({
  components: {
    Status,
    NotificationFilled24,
    StopFilled24
  },
  computed: {
    events() {
      return Store.bell.events
        .slice()
        .sort((a: DeviceEvent, b: DeviceEvent) => {
          return b.timestamp - a.timestamp;
        })
        .slice(0, 5);
    }
  }
})
export default class Elaworld extends Vue {
  private readonly socket = io("http://localhost:8081/test", { transports: ["polling", "websocket"] });

  constructor() {
    super();
    moment.locale("pt");
    this.socket.on("reconnect_attempt", () => {
      const timestamp: number = new Date().getTime();
      Mutations.add(EventType.RECONNECTED, timestamp);
      this.socket.io.opts.transports = ["polling", "websocket"];
    });

    this.socket.on("response", (message: any) => {
      const timestamp: number = new Date().getTime();
      if (message.data === EventType.CONNECTED) {
        Mutations.add(EventType.CONNECTED, timestamp);
      } else if (message.data === EventType.CALL) {
        Mutations.add(EventType.CALL, timestamp);
      } else {
        Mutations.add(EventType.UNKNOWN, timestamp);
      }
    });

    this.socket.on("disconnect", () => {
      const timestamp: number = new Date().getTime();
      Mutations.add(EventType.DISCONNECTED, timestamp);
    });
  }

  getEventTypes() {
    return EventType;
  }

  getEventRelativeTime(timestamp: number) {
    return moment(timestamp).fromNow();
  }

  getStopIcon() {
    return StopFilled24;
  }

  getCurrentStatus() {
    const deviceEvents: DeviceEvent[] = Store.bell.events
      .slice()
      .sort((a: DeviceEvent, b: DeviceEvent) => {
        return b.timestamp - a.timestamp;
      })
      .slice(0, 1);

    if (deviceEvents.length === 0) {
      return {
        type: EventType.UNKNOWN,
        timestamp: new Date().getTime()
      } as DeviceEvent;
    }

    return deviceEvents[0];
  }
}
</script>
