<template>
  <div>
    <div v-if="status.type === statusType.CALL" id="status" class="status">
      <div class="item"><NotificationNew32 class="call-icon" /></div>
      <div class="circle" style="animation-delay: 0s"></div>
      <div class="circle" style="animation-delay: 1s"></div>
      <div class="circle" style="animation-delay: 2s"></div>
      <div class="circle" style="animation-delay: 3s"></div>
    </div>

    <div v-if="status.type === statusType.CONNECTED" id="status" class="status">
      <div class="item"><DataCheck32 class="call-icon" /></div>
      <div class="stalled-circle connected"></div>
    </div>

    <div v-if="status.type === statusType.DISCONNECTED" id="status" class="status">
      <div class="item"><DataError32 class="call-icon" /></div>
      <div class="stalled-circle disconnected"></div>
    </div>

    <div v-if="status.type === statusType.RECONNECTED" id="status" class="status">
      <div class="item"><DataCheck32 class="call-icon" /></div>
      <div class="stalled-circle reconnected"></div>
    </div>

    <div v-if="status.type === statusType.UNKNOWN" id="status" class="status">
      <div class="item"><UnknownFilled32 class="call-icon" /></div>
      <div class="stalled-circle unknown"></div>
    </div>

    <div v-if="status.type === statusType.READY" id="status" class="status">
      <div class="item"><Connect32 class="call-icon" /></div>
      <div class="stalled-circle ready"></div>
    </div>

  </div>
</template>

<script lang="ts">
import { NotificationNew32, DataCheck32, DataError32, UnknownFilled32, Connect32 } from "@carbon/icons-vue";
import EventType from "@/entities/eventtype.enum"

export default {
  name: "Status",
  components: {
    NotificationNew32,
    DataCheck32,
    DataError32,
    UnknownFilled32,
    Connect32
  },
  props: ['status'],
  computed: {
    statusType() {
      return EventType;
    }
  }
};
</script>

<style lang="scss">
@import "../../styles/carbon-utils";

.call-icon {
  width: 5rem;
  height: 5rem;
  color: white;
}

.status {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.circle {
  border-radius: 90%;
  background-color: $support-04;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.9, 0.9, 0.89, 0.9);
}

.stalled-circle {
  border-radius: 50%;
  background-color: $support-04;
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 1;
}

.stalled-circle.connected {
  background-color: $support-02;
}

.stalled-circle.disconnected {
  background-color: $danger;
}

.stalled-circle.reconnected {
  background-color: $support-03;
}

.stalled-circle.unknown {
  background-color: $ui-03;
}

.stalled-circle.ready {
  background-color: $highlight;
}

.item {
  z-index: 100;
  padding: 5px;
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
</style>
