<template>
  <cv-header aria-label="Header">
    <cv-header-name prefix="Elaworld">
        [Amyotrophic Lateral Sclerosis Adapted Bell]
    </cv-header-name>
  </cv-header>
</template>

<script>
export default {
  name: "Header"
};
</script>
