<template>
  <div class="home">
    <Header></Header>
    <Elaworld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>

import Elaworld from '@/components/Elaworld';
import Header from '@/components/header/Header'

export default {
  name: 'Home',
  components: {
    Elaworld,
    Header
  },
};
</script>
